.add-service form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-service form input,textarea {
  width: 40%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 3px;
  background-color: rgba(224, 173, 205, 0.493);
}
.add-service form input,textarea,::placeholder {
  color:black;
}